[mysqld]

skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid

# Added for GTID replication
# REPLICA-1
server-id = 11
log-bin = mysql-bin
relay-log = relay-log-server
gtid-mode=ON
enforce-gtid-consistency=ON
log-replica-updates=ON
#read-only = ON

[client]
socket=/var/run/mysqld/mysqld.sock


